<main class="blogs-main">
  <section class="hero-blogpost">
    <div class="hero-blogpost__container container">
      <div>
        <img class="hero-blogpost__image" src="/assets/img/post-3.png" alt="Close up picture of the hands of a person typing on a laptop.">
      </div>
      <div>
        <h1>Create your own Blogpost!</h1>
        <p>Take the chance and share your opinions with others. Your blog is going to be stored on our database and every user is going to be able to read it!</p>
        <p>Keep in mind this is a "free for all" anonymous blog, which means that you can delete or edit other users' blogs if you want to, and someone else could do the same with yours 😈.</p>
        <button type="button" data-bs-toggle="modal" data-bs-target="#formModal">Create Blogpost</button>
      </div>
    </div>
  </section>
  <section class="blogpost-list">
    <div class="container">
      <h3 id="blogpost-list__title">Latest blogposts</h3>
      <label for="search-input">Search for specific blogposts by title! 🔎</label>
      <input type="text" id="search-input" />
      <div class="blogpost-list__container">
        <% if (blogs.length > 0) { %>
          <% blogs.forEach(blog => { %>
            <article>
              <% if (blog.imageUrl != null) { %>
                <img src="/assets/img/<%= blog.imageUrl %>" alt="<%= blog.imageAltText %>">
              <% } else { %>
                <img src="/assets/img/no-preview.svg" alt="">
              <% } %>
              <h3><%= blog.title %></h3>
              <p><%= blog.abstract %></p>
              <a href="blogs/<%= blog.id %>">Read more <span class="sr-only">about <%= blog.title %></span></a>
            </article>
          <% }) %>
        <% } else { %>
          <div>There are no blogposts to show as of yet. Take the lead and make the first one! 😃</div>
        <% } %>
      </div>
    </div>
  </section>
</main>

<script>
  function onLoad() {
    // Get the success message from the URL query parameter
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('success');

    // If there is a success message, display it on the page
    if (successMessage) {
      alert(successMessage);
    }

    window.removeEventListener('load', onLoad);
  }

  window.addEventListener('load', onLoad);
</script>
