<div>
  <section class="hero-section">
    <div class="hero-section__container project-container">
      <img class="hero-section__image" src="/assets/blogs-hero-image.png" alt="Close up picture of the hands of a person typing on a laptop.">
      
      <div class="hero-section__text-container">
        <h1>Create your own Blogpost!</h1>
        <p>Take the chance and share your opinions with others. Your blog is going to be stored on our database and every user is going to be able to read it!</p>
        <p>Keep in mind this is a "free for all" anonymous blog, which means that you can delete or edit other users' blogs if you want to, and others could do the same with yours 👀.</p>
        <button class="project-button" type="button" data-bs-toggle="modal" data-bs-target="#formModal" aria-label="Open modal to create a new blogpost.">Create Blogpost</button>
      </div>
    </div>
  </section>

  <section class="blogpost-list">
    <h3 id="blogpost-list__title">Latest blogposts</h3>

    <!-- Seach input -->
    <% if (blogs.length > 0 || searchQuery) { %>
    <form action="/blogs" method="GET" class="blogpost-list__search-bar">
      <label for="search-input">Search for specific blogposts by title!</label>
      <div class="blogpost-list__search-input-container">
        <input type="text" id="search-input" name="search" value="<%= searchQuery %>" />
        <button class="project-continue-button" type="submit">Search 🔎</button>
      </div>
    </form>
    <% } %>
    <!-- /Seach input -->

    <% if (blogs.length > 0 && searchQuery) { %>
    <h4 class="mb-5 fs-3">Showing results for <i>"<%= searchQuery %>"</i> :</h4>
    <% } %>
    
    <!-- Blogposts list -->
    <% if (blogs.length > 0) { %>
      <div class="blogpost-list__blogs-container">
        <% blogs.forEach(blog=> { %>
          <article>
            <% if (blog.blogImagePath !=null) { %>
              <img src="<%= blog.blogImagePath %>" alt="<%= blog.blogImageAltText %>">
            <% } else { %>
              <img src="/assets/no-preview.svg" alt="">
            <% } %>
            <h3><%= blog.title %></h3>
            <p><%= blog.abstract %></p>
            <a class="project-button" href="blogs/<%= blog.id %>">Read more <span class="sr-only">about <%= blog.title %></span></a>
          </article>
        <% }) %>
      </div>
      <% } %>
      <!-- /Blogposts list -->
  </section>

  <% if (blogs.length === 0 && searchQuery) { %>
    <div class="blogs__no-items">
      <b>We haven't found anything that contains <i>"<%= searchQuery %>"</i> in its title 🤔.</b>
      <br />
      Please, try with something else or <a class="project-simple-link" href="/blogs">click here</a> to show all blogposts again. 
    </div>
  <%} else if (blogs.length === 0) {%>
    <div class="blogs__no-items">
      <b>There are no blogposts to show as of yet.</b>
      <br />
      Take the lead and make the first one! 😃
    </div>
  <% } %>
</div>

<script>
  function onLoad() {
    // Get the success message from the URL query parameter
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('success');

    // If there is a success message, display it on the page
    if (successMessage) {
      alert(successMessage);
    }

    window.removeEventListener('load', onLoad);
  }

  window.addEventListener('load', onLoad);
</script>