<div class="selected-blog-main">
  <div class="selected-blog-main__back-link-container">
    <a class="project-simple-link" href="/blogs">⬅️ Go back to blogposts list</a>
  </div>

  <section class="selected-blog__main-content">
    <div class="selected-blog__text-container">
      <h1><%= blog.title %></h1>
      <p><%= blog.blogBody %></p>
    </div>

    <div class="selected-blog__image-container">
      <% if (locals.blog.blogImagePath != null) { %>
        <img src="<%= blog.blogImagePath %>" alt="<%= blog.blogImageAltText %>">
      <% } else { %>
        <img class="default" src="/assets/no-preview.svg" alt="">
      <% } %>
    </div>
  </section>

  <section class="contact">
    <div class="contact__main-container">
      <div class="contact__container contact__container--share">
        <img src="/assets/share-blog.png" alt="">
        <div>
          <button class="project-button" type="button" aria-describedby="link-description" onclick="copyUrl()">Share this blog</button>
          <p id="share-description">Copy the link address of this blog to share it with others!</p>
        </div>
      </div>

      <div class="contact__container contact__container--crud">
        <h3>Danger zone</h3>

        <div class="d-flex flex-column flex-sm-row gap-5">
          <div class="contact__button-container">
            <p>Wanna modify this blogpost?</p>
            <button class="project-button" type="button" data-bs-toggle="modal" data-bs-target="#formModal" aria-label="Open modal to edit current blogpost.">Edit it 🛠️</button>
          </div>
         
          <div class="contact__button-container">
            <p>You don't like it?</p>
            <button class="project-button" type="button" onclick="deleteBlog()" aria-label="Delete current blogpost.">Delete it! 💥</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="blog-id" class="visually-hidden" aria-hidden="true"><%= blog.id %></div>
</div>

<script>
  const blogId = document.getElementById('blog-id').innerText;

  async function deleteBlog() {
    if (confirm('Are you sure you want to delete this blogpost?')) {
      try {
        await fetch(`/selected-blog/${blogId}`, { method: 'DELETE' });
        window.location.href = '/blogs?success=Blogpost+successfully+deleted';
      } catch (err) {
        console.error(err);
        alert('There was an error when trying to delete this blogpost. Please, try again later.');
      }
    }
  }

  async function copyUrl() {
    try {
      await navigator.clipboard.writeText(window.location.href);
      alert('Link copied successfully!');
    } catch (err) {
      console.error(err);
    }
  }
</script>
