<main class="blog-main">
  <section class="blog__image-container">
    <% if (locals.blog.imageUrl != null) { %>
      <img src="/assets/img/<%= blog.imageUrl %>" alt="<%= blog.imageAltText %>">
    <% } else { %>
      <img src="/assets/img/no-preview.svg" alt="">
    <% } %>
  </section>

  <section class="blog__text-container container">
    <h3>News</h3>
    <h1><%= blog.title %></h1>
    <p><%= blog.blogBody %></p>
  </section>

  <section class="contact">
    <div class="contact__main-container container">
      <div class="contact__container">
        <button type="button" onclick="deleteBlog()">Delete!</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#formModal">Edit?</button>
      </div>
      <div class="contact__container">
        <img src="/assets/img/006-like_cb942990-375a-4533-afe7-e9bb567ff7ab.png" alt="">
        <div>
          <button type="button" aria-describedby="link-description" onclick="copyUrl()">Share this blog</button>
          <p id="share-description">Copy the link address of this blog to share it with others!</p>
        </div>
      </div>
    </div>
  </section>

  <div id="blog-id" class="visually-hidden" aria-hidden="true"><%= blog.id %></div>

  <script>
    const blogId = document.getElementById('blog-id').innerText;

    async function deleteBlog() {
      try {
        await fetch(`/blogs/${blogId}`, { method: 'DELETE' });
        window.location.href = '/blogs?success=Blog+successfully+deleted';
      } catch (err) {
        console.error(err);
      }
    }

    async function copyUrl() {
      try {
        await navigator.clipboard.writeText(window.location.href);
        alert('Link copied successfully!');
      } catch(err) {
        console.error(err);
      }
    }
  </script>
</main>
