<!-- Logic for this component can be found at public/scripts/blogForm.js -->

<% if (locals.blog) { %>  
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-flex-container">
      <div class="modal-dialog">
        <form action="/blogs" class="modal-content" id="blog-form" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="formModalLabel"><%= blog.id ? "Edit blogpost" : "Create new blogpost"%></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close modal."></button>
          </div>
 
          <!-- Inputs -->
          <div class="modal-body">
            <div class="formModal__input-container">
              <label for="title">Title <span class="formModal__asterisk">*</span></label>
              <input required class="text-field-check-required text-field-check-max" type="text" name="title" id="title" value="<%= blog.title %>">
            </div>

            <div class="formModal__input-container">
              <label for="abstract">Abstract <span class="formModal__asterisk">*</span></label>
              <input required class="text-field-check-required text-field-check-max" type="text" name="abstract" id="abstract" value="<%= blog.abstract %>">
            </div>

            <div class="formModal__input-container">
              <label for="blogBody">Body <span class="formModal__asterisk">*</span></label>
              <textarea required class="text-field-check-required" rows="3" name="blogBody" id="blogBody"><%= blog.blogBody %></textarea>
            </div>

            <div class="formModal__input-container">
              <label for="blogImage">Image <i>(only .png, .jpeg and .gif)</i></label>
              <input type="file" name="blogImage" id="blogImage" class="filepond" data-filepond />
            </div>

            <div class="formModal__input-container">
              <label for="blogImageAltText">Image alternative text</label>
              <input type="text" name="blogImageAltText" id="blogImageAltText" value="<%= blog.blogImageAltText %>"></input>
            </div>

            <input type="hidden" id="id" name="id" value="<%= blog.id %>">
 
            <h6><i>Fields with an asterisk (<span class="formModal__asterisk">*</span>) are required.</i></h6>
          </div>
          <!-- /Inputs -->
 
          <!-- Buttons -->
          <div class="modal-footer">
            <% if (locals.errorMessage) { %>
              <%= errorMessage %>
            <% } %>
            <button type="reset" class="project-button modal__button" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="project-continue-button modal__button" id="submit-button">Save changes</button>
          </div>
          <!-- /Buttons -->
        </form>
      </div>
    </div>
  </div>
<% } %>
